<i class='fas fa-heart fa-3x'></i>
<h3> New Orleans Resource Map </h3>
<div class='section'>
  <p class='lead'>
    Authenticate to submit information - this allows me to have some
    accountability for what the map displays
  </p>

</div>
<div class='divider'></div>
<div class='section'>
  <a href='/auth/google' class='btn red darken-1'>
    <i class='fab fa-google left'></i>
    Log in with Google
  </a>
</div>