<h3><i class="fas fa-pepper-hot"></i> New Orleans Resource Map </h3>
<div class="section">
    <p class="lead"> Create your profile</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>